main    
    include ../includes/blocks/banner.pug
    include ../includes/blocks/categories.pug
    include ../includes/blocks/leave-now.pug
    include ../includes/blocks/advantages.pug
    include ../includes/blocks/reviews.pug
    include ../includes/blocks/about.pug
    include ../includes/blocks/work-stages.pug
    include ../includes/blocks/counters.pug
    include ../includes/blocks/services.pug
    include ../includes/blocks/brands.pug
    include ../includes/blocks/sale.pug
    include ../includes/blocks/contacts.pug
    