main
    include ../includes/blocks/page/banner.pug
    include ../includes/blocks/page/terms.pug
    include ../includes/blocks/page/brands.pug
    include ../includes/blocks/page/price.pug
    include ../includes/blocks/page/tipikal.pug
    include ../includes/blocks/leave-now.pug
    include ../includes/blocks/reviews.pug
    include ../includes/blocks/counters.pug
    include ../includes/blocks/page/contacts.pug