footer
    div.map(id="map")
        iframe( width="100%" height="449" frameborder="0" id="yandex-map")
    div.copiright
        div.copiright__inner
            p © 2020 ООО Ремонт Бытовой техники. Все права защищены
            a(href="#") Политика конфиденциальности




script(src="js/common.min.js" type="text/javascript" defer)
