block links
    link(rel="preload" href="libs/material-icons/material.css" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous")
    link(rel="preload" href="libs/swiper/styles.css" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous")
    link(rel="preload" href="fonts/OpenSans/OpenSans-Bold.ttf" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/OpenSans/OpenSans-Semibold.ttf"  as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/OpenSans/OpenSans-CondBold.ttf"  as="font" crossorigin="anonymous")
    link(rel= "preconnect" href="https://api-maps.yandex.ru" crossorigin="anonymous") 
    link(rel="preload" href="libs/material-icons/material-font.woff2"  as="font" crossorigin="anonymous")
    link(rel="preload" href="css/fonts.css" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous")
    link(rel="preload" href="css/main.css" onload="this.rel='stylesheet'" as="style" crossorigin="anonymous")


