div.terms
    div.terms__inner
        div.terms__item
            +icon("checked")
            p Гарантия на все виды работ - 12 месяцев
        div.terms__item
            +icon("checked")
            p Выезд через 30 минут после оформления заявки
        div.terms__item
            +icon("checked")
            p Мастера по всей Москве и МО