div.advantages.tipikal
    article.advantages__inner
        div.advantages__title
            h3 Типичные неисправности
        div.swiper-container(id="swiper-tipikal")
                div.swiper-wrapper
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("13")
                            div.info__title
                                h3  Не включается
                                    
                            div.info__description
                                p   Починим сетевой фильтр, модуль или заливную систему
                            div.tipikal__price
                                p от 350 р.
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("14")
                            div.info__title
                                h3  Течет вода
                                    
                            div.info__description
                                p Починим реле уровня воды, заменим шланги
                            div.tipikal__price
                                p 250 р.
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("15")
                            div.info__title
                                h3  Сильно шумит
                                    
                            div.info__description
                                p   Устраним засор, заменим распылитель
                            div.tipikal__price
                                p от 450 р.
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("16")
                            div.info__title
                                h3  Отключается
                                    
                            div.info__description
                                p Устраним засор, заменим распылитель
                            div.tipikal__price
                                p 650 р.
                div(class="swiper-button-next tipikal__swiper-button-next")
                div(class="swiper-button-prev tipikal__swiper-button-prev")