extends ../layout/layout.pug
block vars
	- var title = 'Ремонт стиральных машин';
block header
	include ../includes/header.pug
block content
	include ../includes/content-main.pug
	
block footer
	include ../includes/footer.pug     
              
