extends ../layout/layout.pug
block links
    include ../includes/links.pug
    link(rel="preload" href="css/page.min.css" as="style"  onload="this.rel='stylesheet'" crossorigin="anonymous")
block vars
    - var title = 'Ремонт стиральных машин';
block header
    include ../includes/header.pug
block content
    include ../includes/content-page.pug
	
block footer
    include ../includes/footer.pug     
              
block scripts
    script(src="js/page.min.js" type="text/javascript" async)
    script(src="js/webp.min.js" type="text/javascript")