div.advantages(id="advantages")
    article.advantages__inner
        div.advantages__title
            h3 Наши преимущества
        div.swiper-container(id="swiper-advantages")
                div.swiper-wrapper
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon5")
                            div.info__title
                                h3  Высокая скорость
                                    
                            div.info__description
                                p   Устраним поломку не 
                                    |только качественно, но и в кратчайшие сроки.
                                    |Оптимальная скорость в работе, принятии заказа и приезде мастера на место!
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon6")
                            div.info__title
                                h3  Оптимальные цены
                                    
                            div.info__description
                                p  У нас идеальное соотношение 
                                    span качества/цена. 
                                    |Во время и качественно выполненная  работа, 
                                    |лучшие цены закупки оригинальных запчастей для устранение всех типов неполадок
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon7")
                            div.info__title
                                h3  Профессионализм
                                    
                            div.info__description
                                p   В нашей компании работают специалисты только 
                                    |высшего класса с многолетним опытом 
                                    |работы
                                    p Мы выполняем  
                                        |широкий спектр работ 
                                        | по починке бытовой техники
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon8")
                            div.info__title
                                h3  Все бренды
                                    
                            div.info__description
                                p  Ремонтируем технику большинства популярных  отечественных и зарубежных 
                                    a(href="#") производителей
                                    |, 
                                    |закупая и используя оригинальные детали для каждого типа устройства
                div(class="swiper-button-next")
                div(class="swiper-button-prev")