block vars
    - var h1 = "Ремонт бытовой техники "
    - var h2 = "Ремонт техники на дому"
    - var h3 = "От любого производителя в"
    - var p = "любое удобное для вас время"
block content
    div.banner
        div.banner__inner
            div.banner__text
                h1 #{h1}
                h2 #{h2}
                h3 #{h3}
                    p #{p}