block vars
    - var title = "Ремонт техники от следующих производителей"

div.brands
        div.brands__inner      
            div.brands__title
                h3 #{title}
            div.brands__slider
                div.swiper-container(id="swiper-brands")
                    div.swiper-wrapper
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/lg.webp")
                                        img(src="img/lg.png" alt="LG")
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/indesit.webp")
                                        img(src="img/indesit.png" alt="indesit")
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/hotpoint-ariston.webp")
                                        img(src="img/hotpoint-ariston.png" alt="hotpoint-ariston")
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/electrolux.webp")
                                        img(src="img/electrolux.png" alt="electrolux")
                           
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/samsung.webp")
                                        img(src="img/samsung.png" alt="samsung")
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/bosch.webp")
                                        img(src="img/bosch.png" alt="bosch")
                        div.swiper-slide
                            div.brands__brand
                                a(href="#")
                                    picture
                                        source(srcset="img/whirlpool.webp")
                                        img(src="img/whirlpool.png" alt="whirlpool")
                                 
                div(class="swiper-button-next brands__swiper-button-next")
                div(class="swiper-button-prev brands__swiper-button-prev")     
            a(href="#")
                button.brands__show-all Показать всех