div.categories
    div.categories__inner
        div.swiper-container(id="swiper-categories")
            div.swiper-wrapper
                div.swiper-slide
                    div.categories__item
                        div.categories__icon
                            +icon("icon1")
                        div.categories__text
                            h3 Ремонт стиральных 
                                p машин
                        div.categories__price
                            span от 200 руб.
                        div.categories__more
                            a(href="#") Узнать больше
                div.swiper-slide
                    div.categories__item
                        div.categories__icon
                            +icon("icon2")
                        div.categories__text
                            h3 Ремонт посудо-
                                p моечных машин
                        div.categories__price
                            span от 200 руб.
                        div.categories__more
                            a(href="#") Узнать больше
                div.swiper-slide
                    div.categories__item
                        div.categories__icon
                            +icon("icon3")
                        div.categories__text
                            h3 Ремонт 
                                p холодильников
                        div.categories__price
                            span от 450 руб.
                        div.categories__more
                            a(href="#") Узнать больше
                div.swiper-slide
                    div.categories__item
                        div.categories__icon
                            +icon("icon4")
                        div.categories__text
                            h3 Ремонт кофе-
                                p машин
                        div.categories__price
                            span от 350 руб.
                        div.categories__more
                            a(href="#") Узнать больше
            div(class="swiper-button-next")
            div(class="swiper-button-prev")