div.counters
        div.counters__inner(id="animated-numbers")
            div.counters__item
                p.counters__number(number="35") 35
                p.counters__text Специалистов в штате
            div.counters__item
                p.counters__number(number="10") 10
                p.counters__text Филлиалов по Москве и МО
            div.counters__item
                p.counters__number(number="1200") 1200
                p.counters__text Выполненных работ в месяц
            div.counters__item
                p.counters__number(number="35") 35
                p.counters__text Среднее время прибытия на место