div.leave-now
        div.leave-now__text
            h3 Вызжаем сейчас же!
            P Вызовите нашего специалиста на дом и он приедет в течении 30 минут.
                span Позвоните нам по номеру телефона: 
                    strong 
                        a(href="tel:+7 (123) 123 56 89 ") +7 (123) 123 56 89 
                span или воспользуетесь формой внизу для заказа обратного звонка.
                span В течении нескольким минут наш сотрудник свяжется с Вами (услуга бесплатна).
        div.leave-now__call-form
            input(type="text" placeholder="+7 (---) --- -- --" id="request_call_input_main")
            div.leave-now__call-form-address
                i.material-icons location_on
                input(type="text" placeholder="Ваш адрес" id="request_call_input-address_main")
            button(id="request_call_input_main_btn") Заказать звонок
        div.leave-now__privacy
            p Нажав на кнопку «Заказать звонок» Вы даёте согласие на обработку персональных данных в соответствии с условиями 
                a(href="#") конфиденциальности
                |. 