div.reviews(id="reviews")
    article.reviews__inner
        div.reviews__title
            h3 Отзывы наших клиентов
        div.swiper-container(id="swiper-reviews")
            div.swiper-wrapper
                div.swiper-slide
                    section.reviews__review
                        div.reviews__review-container
                            div.reviews__name
                                h4 Антон
                            div.reviews__text
                                p Отличная работа! Молодцы ребята!
                            div.reviews__rating
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                div.swiper-slide
                    section.reviews__review
                        div.reviews__review-container
                            div.reviews__name
                                h4 Валентина
                            div.reviews__text
                                p Работой ребят довольны, но вот цены дороговато
                            div.reviews__rating
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star.reviews__star-disabled star_rate
                div.swiper-slide
                    section.reviews__review
                        div.reviews__review-container
                            div.reviews__name
                                h4 Александр
                            div.reviews__text
                                p Все отлично! Спасибо!
                            div.reviews__rating
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                div.swiper-slide
                    section.reviews__review
                        div.reviews__review-container
                            div.reviews__name
                                h4 Саша
                            div.reviews__text
                                p Всегда пользуюсь услугами данного сервиса.
                                    |Устраивает и работа и цены, в общем, всё всё
                            div.reviews__rating
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                div.swiper-slide
                    section.reviews__review
                        div.reviews__review-container
                            div.reviews__name
                                h4 Антон
                            div.reviews__text
                                p Отличная работа! Молодцы ребята!
                            div.reviews__rating
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
                                i.material-icons.reviews__star star_rate
        div(class="swiper-button-next reviews__swiper-button-next")
        div(class="swiper-button-prev reviews__swiper-button-prev")            
        div.icon-button.reviews__leave-review
            a(href="#")
                button  
                    +icon('repostbuttonicon')
                    span Оставить свой отзыв
