div.sale(id="sale")
        div.sale__slider
            div.swiper-container(id="swiper-sale")
                div.swiper-wrapper
                    div.swiper-slide
                        div.sale__image
                            img(src="img/sale.png")
                div(class="swiper-button-next")
                div(class="swiper-button-prev")     