div.services(id="services")
    div.services__title
        h3 Услуги и цены
    div.services__sub-title
        h4 Типичные поломки и неисправности
    div.services__table
        div.services__column1
            p Плохо моет
            p Течет вода
            p Не сушит
            p Не заливает воду
            p Не греет воду
            p Не включается
            p Не сливает воду
            p Отключается
            p Сильно шумит
        div.services__column2
            p Заменим ТЭН, распылитель или устраним засор
            p Починим реле уровня воды, заменим шланги
            p Заменим ТЭН, датчик температуры или вентилятор
            p Починим модуль, заменим клапан или устраним засор
            p Починим модуль, заменим ТЭН или датчик температуры
            p Починим сетевой фильтр, модуль или заливную систему
            p Починим насос, заменим датчик воды, устраним засор
            p Починим сетевой фильтр, модуль или заливную систему
            p Устраним засор, заменим распылитель
        div.services__column3
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
            p 210 руб
    div.icon-button.reviews__leave-review
            a(href="#")
                button  
                    +icon('gears')
                    span Показать полный список