div.advantages.work-stages
    article.advantages__inner
        div.advantages__title
            h3 Этапы работы
        div.swiper-container(id="swiper-advantages")
                div.swiper-wrapper
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon9")
                            div.info__title
                                h3  Приём заявки
                                    
                            div.info__description
                                p   Вы оставляете заявку на сайте или по телефону и предоставляете информацию и контактные данные нашему оператору, 
                                    |который подберёт Вам соответствующего специалиста.
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon10")
                            div.info__title
                                h3  Выезд мастера
                                    
                            div.info__description
                                p В выбранное Вами время по указанному в заявке адресу к Вам приедет специалист компании и произведет 
                                    |диагностику и составление сметы работ
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon11")
                            div.info__title
                                h3  Починка техники
                                    
                            div.info__description
                                p   Согласовав стоимость работ, материалов и запчастей, 
                                    |специалист произведет все необходимые ремонтные работы
                    div.swiper-slide
                        section.info
                            div.info__icon
                                +icon("icon12")
                            div.info__title
                                h3  Приём работы
                                    
                            div.info__description
                                p  После выполнения работ, специалист предоставит 
                                    |Вам чек и бесплатный гарантийный талон сроком на 1 год.
                div(class="swiper-button-next")
                div(class="swiper-button-prev")